:root {
    --green: #81B29A;
}

#main-content {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;    
    border: 2px solid black;
    box-shadow: 4px 8px 7px 0px rgba(0,0,0,0.31);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    border-radius: 20px;
}

.submit-button {
    background-color: var(--green) !important;
    color: black !important;
}

.submit-button:hover {
    opacity: .75;
}

